<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClipReviewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClipReviewer.Properties.Settings>
            <setting name="TopMostWhileReviewing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSeekEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSeekTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThumbGenEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThumbGenTime" serializeAs="String">
                <value>50%</value>
            </setting>
            <setting name="ThumbGenIgnoreWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThumbGenUseCached" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClipsReviewFullscreen" serializeAs="String">
                <value>True</value>
            </setting>
        </ClipReviewer.Properties.Settings>
    </userSettings>
</configuration>